:root {
    --background-color: white;
    --color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 1em;
    background-color: var(--background-color);
}

h1 {
    text-align: center;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 2em;
}

nav a {
    color: var(--color);
    font-weight: 600;
}

nav a:hover {
    color: #000;
    text-decoration: underline;
}

section {
    max-width: 350px;
    margin: 2em auto;
    padding: 1em;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
}

/* Text + number inputs */
input[type="text"],
input[type="number"] {
    width: 250px;
    height: 40px;
    font-size: 1.1rem;
    padding: 5px;
    display: block;
    margin: 0.5em auto;
}

/* Radio buttons */
input[type="radio"] {
    width: auto;
    height: auto;
    margin-left: 0.5em;
}