@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #4CAF50;
    --secondary-color: #f4f4f4;
    --font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
}

body {
    padding: 1em;
    background-color: var(--secondary-color);

}

h1, h2, h3 {
    font-family: Lato, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);

}

nav ul {
    display:  flex;
    align-self: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

nav a {
   text-decoration: none;
   color: var(--text-color);
}

nav a:hover{
    text-decoration: underline;
}

header, section{
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}