@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
}

body {
    padding: 1em;
    background-color: var(--secondary-color);

}

h1, h2, h3 {
    font-family: Lato, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);

}

nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
}

nav li:first-child {
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

nav a {
    color: var(--primary-color);
    font-weight: 600;
}

nav a:hover {
    color: #000000;
    text-decoration: underline;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(1000xp, 100%);
    margin: 0 auto 2em auto;
}

h1 {
    text-align: center;
}

nav li:first-child a {
    font-weight: 700;
}